<footer>
      <nav class="navbar fixed-bottom navbar-dark bg-yellowgreen">
   
    <h6 class="display-6 navbar-text fg-black">&copy;2023 COMP229 All rights reserved</h6>
    </div>
    </nav>
  </footer>
